/* define base style values */
body{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 10px;
	display: flex;
	margin: 0;
	padding: 0;
}
 
html{
	font-size: 12px;
}
#app{
	width: 100%;
}


h1{
	font-size: 3rem;
	margin: 1.25rem;
}

h2{
	font-size: 2.5rem;
	margin: 1rem;
}

h3{
	font-size: 2rem;
	margin: 0.75rem;
}

h4{
	font-size: 1.5rem;
	margin: 0.65rem;
}

h5{
	font-size: 1.3rem;
	margin: 0.55rem;
}

h6{
	font-size: 1.1rem;
	margin: 0.35rem;
}

p{
	font-size: 1.6rem;
	margin: 0.5rem;
}

.m-card{
	margin: 0.3rem;
	padding: 0.3rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 1rem rgba(0,0,0,0.1);
	display: flex;
	flex-direction: column;
}

.m-card-title{
	font-size: 2rem;
	font-weight: bold;
}

.m-card-content{
	font-size: 1.6rem;
}

.m-card-footer{
	font-size: 1.4rem;
	color: #666;
}

.m-list{
	display: flex;
	flex-direction: column;
	margin: 0.3rem;
	padding: 0;
}

.m-list-item{
	
	padding: 0.5rem;
	min-height: 2.43rem;
	
	display: flex;
	flex-direction: row;
}

.m-list-item:not(:last-child){
	border-bottom: 1px solid #ccc;
}


/* Estilo base para o container do input e label */
.m-text-input-label {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0rem 0;
	margin: 1.4rem 1rem;
}

/* Estilo base para o input */
.m-text-input-label input[type="text"] {
    font-size: 1.34rem;
    padding: 0.88rem 0.7rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    transition: border-color 0.3s;
}


/* Estilo para o input em foco */
.m-text-input-label input[type="text"]:focus {
    outline: none;
    border: 1px solid #666;
	margin: 0;

}

/* Estilo base para o label */
.m-text-input-label label {
    position: absolute;
    top: -1.58rem;
	font-size: 1.34rem;
	margin: 0.9rem 0rem;
    left: 0.6rem;
    transform: translateY(100%);
    background-color: white;
    padding: 0 0.3rem;
    transition: all 0.3s;
    pointer-events: none;
	color: #a1a1a1;
}

/* Estilo para o label quando o input está preenchido ou em foco */
.m-text-input-label input:focus + label, input:not(:placeholder-shown) + label {
    top: -1.9rem;
    left: 0.5rem;
    font-size: 1rem;
    color: #666;
	margin: 0;
}

/* 
.m-switch{
}

.m-switch-input{
} */

/* estilo para o switch estilo material design */

.m-switch-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
	color: darkgray;
	font-size: inherit;
	width: 5rem;
	height: 2.5rem;
	box-sizing: content-box;
	border: 1px solid;
	border-radius: 1.5rem;
	vertical-align: text-bottom;
	margin: auto;
	background-color: lightgray;

}
.m-switch-input::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	box-sizing: border-box;
	width: 2.3rem;
	height: 2.3rem;
	margin-left: 0.15rem;
	border: 1px solid ;
	border-radius: 50%;
	background: currentcolor;

	transition: left 0.2s;
}
.m-switch-input:checked::before {
	left: 2.42rem;
	background-color: white;
}
.m-switch-input:checked{
	background-color: blue;
}


.m-cb-lbl {
    position: relative;
    display: flex;
    flex-direction: row;
	justify-content: start;
	/* center flex */

	align-items: center;
	gap: 1rem;
    padding: 0rem 0;
	margin: 1.4rem 1rem;
}








/* Estilo base para o container do input e label */
.m-select-lbl {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0rem 0;
	margin: 1.4rem 1rem;
}

/* Estilo base para o input */
.m-select-lbl-select {
    font-size: 1.34rem;
    padding: 0.88rem 0.7rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    transition: border-color 0.3s;
}


/* Estilo para o input em foco */
.m-select-lbl-select:focus {
    outline: none;
    border: 1px solid #666;
	margin: 0;

}

/* Estilo base para o label */
.m-select-lbl-label {
    position: absolute;
    top: -1.58rem;
	font-size: 1.34rem;
	margin: 0.9rem 0rem;
    left: 0.6rem;
    transform: translateY(100%);
    background-color: white;
    padding: 0 0.3rem;
    transition: all 0.3s;
    pointer-events: none;
	color: #a1a1a1;
}

/* Estilo para o label quando o input está preenchido ou em foco */
.m-select-lbl select:focus + label, select:not(:placeholder-shown) + label {
    top: -1.9rem;
    left: 0.5rem;
    font-size: 1rem;
    color: #666;
	margin: 0;
}
